<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HalalChain\Multivendor\Api\VendorRepositoryInterface" type="HalalChain\Multivendor\Model\VendorRepository"/>
    <preference for="HalalChain\Multivendor\Api\Data\VendorInterface" type="HalalChain\Multivendor\Model\Vendor"/>
</config>
